{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>

    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
        {{ form.first_name }}
    </div>

    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
        {{ form.last_name }}
    </div>

    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth:</label>
        {{ form.date_of_birth }}
    </div>

    <div class="form-group">
        <label for="{{ form.sex.id_for_label }}">Sex:</label>
        {{ form.sex }}
    </div>

    <div class="form-group">
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
    </div>

    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock content %}