{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>My Appointments</h1>

{% if appointments %}
{% now "Ymd" as today %}
<ul>
    {% for appointment in appointments|dictsort:"date" reversed %}
    <li>
        {{ appointment.date }} at {{ appointment.time }} ({{ appointment.trainer_gender }})
        {% if appointment.date|date:"Ymd" < today %}
        Appointment in the past
        {% else %}
        <a href="{% url 'update_appointment' appointment.id %}" class="text-primary">Edit</a>
        <a href="" class="text-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-{{appointment.id}}">
            Delete
        </a>

        <!-- Modal -->
        <div class="modal fade" id="modal-delete-{{appointment.id}}" tabindex="-1" aria-labelledby="modal-delete-{{appointment.id}}-Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-delete-{{appointment.id}}-Label">Delete appointment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this appointment?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                        <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You don't have any appointments yet.</p>
{% endif %}

{% endblock content %}