{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    {% if is_member %}
    <h1>Create an Appointment</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Appointment</button>
    </form>
</div>
{% else %}
<p>Please consider to be a member to see this form</p>
{% endif %}
{% endblock content %}
{% block extras %}
<script>
    // ensure appointment date is not before "today"
    let now = new Date(),
    minDate = now.toISOString().substring(0,10);
    document.getElementById("id_date").setAttribute("min", minDate);
</script>
{% endblock %}