{% extends 'base.html' %}
{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Contact Us</h2>
    <p class="text-center mb-4">If you have any questions, feel free to reach out to us. We will get back to you as soon as possible.</p>

    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h3 class="mb-3">Our Contact Information:</h3>
        <ul class="list-unstyled">
          <li><i class="fa-solid fa-envelope"></i> <strong>Email:</strong> <a href="mailto:{{ gym_email }}">{{ gym_email }}</a></li>
          <li><i class="fa-solid fa-phone"></i> <strong>Phone:</strong> {{ gym_phone_number }}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h3 class="mb-3">Send Us a Message:</h3>

        {% if user.is_authenticated %}
        <form method="POST">
          {% csrf_token %}
          
          <div class="mb-3">
            <label for="id_first_name" class="form-label">First Name</label>
            <input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ user.first_name }}" disabled>
          </div>
          
          <div class="mb-3">
            <label for="id_last_name" class="form-label">Last Name</label>
            <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ user.last_name }}" disabled>
          </div>

          <div class="mb-3">
            <label for="id_email" class="form-label">Email Address</label>
            <input type="email" name="email" id="id_email" class="form-control" value="{{ user.email }}" disabled>
          </div>

          <div class="mb-3">
            <label for="id_phone_number" class="form-label">Phone Number</label>
            {{ form.phone_number }}
          </div>

          <div class="mb-3">
            <label for="id_comment" class="form-label">Comment</label>
            {{ form.comment }}
          </div>

          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>

      {% else %}
        <p class="mb-3">Already have an account? Please <a href="{{ login_url }}">log in</a> or <a href="{{ signup_url }}">register</a>. Alternatively, you can continue without registration.</p>
        {{ form.as_p }}
      {% endif %}
    </div>
  </div>

    {% if messages %}
      <div class="alert alert-success mt-3">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

{% endblock content %}